// Created by KHAN on 2015-10-18.
extends layout
block stylesheets
    style.
        label.macAddr {
            text-align: center;
            width: 100%;
            left: 0;
        }
        input.macAddr {
            text-align: center;
            ime-mode: disabled;
        }
block headScripts
    script(src='/javascripts/PcController.js')
    script.
        $(document).ready(function() {
            var inputMac = $('input.macAddr');
            inputMac.blur(function(e) {
                var $this = $(this);
                if (!this.value) {
                    $this.removeClass('invalid');
                    $this.removeClass('valid');
                    return;
                }
                if (/[0-9A-Fa-f]{2}$/g.test(this.value)) {
                    $this.removeClass('invalid');
                    $this.addClass('valid');
                }
                else {
                    $this.addClass('invalid');
                    $this.removeClass('valid');
                }
            });
            inputMac.keyup(function(e) {
                if (this.value.length == 0 && e.keyCode == 8) {
                    var prev = parseInt(this.id.substr(this.id.length-1)) - 1
                    if (prev > 0) {
                        $('#macAddr' + prev).focus();
                    }
                    return;
                }
                if (!/[0-9A-Fa-f]$/g.test(String.fromCharCode(e.keyCode))) return;
                var $this = $(this);
                if (/[0-9A-Fa-f]{2}$/g.test(this.value)) {
                    $this.removeClass('invalid');
                    $this.addClass('valid');
                    var next = parseInt(this.id.substr(this.id.length-1)) + 1
                    console.log(next);
                    if (next > 6) {
                        return;
                    }
                    $('#macAddr' + next).focus();
                }
                else {
                    $this.addClass('invalid');
                    $this.removeClass('valid');
                }
            });

            $('#btnSave').click(function() {
                var macAddr = '';
                for (var i = 1; i < 7; i++) {
                    macAddr += '-' + document.getElementById('macAddr'+i).value
                }
                macAddr = macAddr.replace('-', '');
                var pcInfo = {
                    name: document.getElementById('name').value,
                    macAddr: macAddr
                };
                validatePcInfo(pcInfo) && PcController.createPcInfo();
            });
        });
        var validatePcInfo = function (pcInfo) {
            if (!pcInfo.name) {
                alert('PC 이름을 입력하세요.');
                document.getElementById('name').focus();
                return false;
            }

            var macAddr = pcInfo.macAddr.replace(/-/gi,'');
            if (!/[0-9A-Fa-f]{12}$/g.test(macAddr)) {
                alert('MAC Address를 확인하세요.');
                document.getElementById('macAddr').focus();
                return false;
            }

            return true;
        }
block content
    div.container
        h5.header 켜실 PC를 선택하세요.
        div#pcList.collection
            each pcInfo in pcList
                a.btnPowerOn.collection-item.waves-effect.waves-light(data-id="#{pcInfo.id}", data-name="#{pcInfo.name}", data-mac="#{pcInfo.macAddr}").
                    #{pcInfo.name} #{pcInfo.macAddr}
        h5.header PC 정보 입력
        div.row
            div.input-field.col.s12
                input#name.validate(type='text')
                label(for='name') PC 이름
        div.row
            -for (var i = 1; i < 7; i++) {
                div.input-field.col.s2
                    input.macAddr.validate(id='macAddr'+i, type='text', maxlength='2', pattern='[0-9A-Za-z]')
                    label.macAddr(for='macAddr'+i) mac#{i}
            -}
        div.col.right
            a#btnSave.btn.btn-large.waves-effect.waves-light 저장