// Created by KHAN on 2015-10-18.
extends layout
block stylesheets
    style.
        label.macAddr {
            text-align: center;
            width: 100%;
            left: 0;
        }
        input.macAddr {
            text-align: center;
            ime-mode: disabled;
        }

        .collection li.collection-item {
            padding: 0;
            width: 100%;
            color: #29b6f6;
        }

        .collection li.collection-item:not(.active):hover {
            padding: 0;
            width: 100%;
            background-color: #ddd;
        }

        li.collection-item div {
            padding: 10px 20px;
            float: left;
        }

        li.collection-item a.secondary-content {
            padding: 10px 20px;
        }
        .modal.bottom-sheet, .modal .modal-content, .modal-menu {
            padding: 0;
            margin: 0;
        }
        #PcMenu a.collection-item {
            font-size: 1.5em;
            padding: 15px;
            height: auto;
        }
        #btnNewPcInfo {
            font-size: 15px;
        }

block headScripts
    script(src='/javascripts/PcController.js')
    script.
block content
    div.container
        h5.header 켜실 PC를 선택하세요.
        ul#pcList.collection
            each pcInfo in pcList
                li.collection-item.waves-effect.waves-light.btnPowerOn(
                    data-id="#{pcInfo.id}", data-name="#{pcInfo.name}", data-mac="#{pcInfo.macAddr}"
                )
                    div #{pcInfo.name} [#{pcInfo.macAddr}]
                    a.secondary-content.modal-trigger(href="#PcMenu", data-target='PcMenu')
                        i.fa.fa-angle-right
        br
        h5.header PC 정보 입력
            a#btnNewPcInfo.btn.right(style='display:inline-block') 새 PC 정보 입력
        input#id(type='hidden')
        div.row
            div.input-field.col.s12
                input#name.validate(type='text')
                label(for='name') PC 이름
        div.row
            -for (var i = 1; i < 7; i++) {
                div.input-field.col.s2
                    input.macAddr.validate(id='macAddr'+i, type='text', maxlength='2', pattern='[0-9A-Za-z]')
                    label.macAddr(for='macAddr'+i) mac#{i}
            -}
        div.col.right
            a#btnSave.btn.btn-large.waves-effect.waves-light 저장

        div#PcMenu.modal.bottom-sheet
            div.modal-content
                ul.collection.modal-menu
                    a#btnUpdate.btn.collection-item.waves-effect.waves-light 수정
                    a#btnRemove.btn.collection-item.waves-effect.waves-light 삭제
